<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Form</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="/assets/default.js"></script>
    <script src="/assets/login1.js"></script>
</head>
<body>
<h1>Authorisation</h1>
<form id="login-form">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <button id="submit" type="submit">Login</button>
</form>
</body>
</html>
