<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Form</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="/assets/default.js"></script>
    <script src="/assets/login1.js"></script>
</head>
<body>
<h1>Authorization</h1>
<div class="container">
<form id="login-form">
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <button id="submit" type="submit">Login</button>
    <div id="error-message"></div>
    <button id="password-reset-button" type="submit">Reset password</button>
    <h3>
        <a href='/auth/google/login'>Login with Google</a>
    </h3>
</form>
</div>
</body>
</html>
