<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Form</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
    <script src="/assets/default.js"></script>
    <script src="/assets/password_reset_setnewpass.js"></script>
</head>
<body>
<h1>Set new password</h1>
<div class="container">
    <form id="set_pass_form">
        <label for="code">Verification code:</label><br>
        <input type="text" id="code" name="code"><br>

        <label for="password">New password:</label><br>
        <input type="password" id="password" name="password"><br>

        <label for="password repeat">Repeat new password:</label><br>
        <input type="password" id="password repeat" name="password"><br>
        <button id="submit" type="submit">Login</button>

    </form>
</div>
</body>
</html>