<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Redirecting...</title>
    <script>
        let timer = {{ .RedirectIn }};
        let link = "{{ .LongLink }}";

        function countdown() {
            if (timer > 0) {
                document.getElementById("countdown").innerText = timer;
                timer--;
                setTimeout(countdown, 1000);
            } else {
                window.location.href = link;
            }
        }
        window.onload = countdown;
    </script>
</head>
<body>
<h1>Redirecting in <span id="countdown">{{ .RedirectIn }}</span> seconds...</h1>
<p>If you are not redirected automatically, <a href="{{ .LongLink }}">click here</a>.</p>
</body>
</html>