<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Form</title>
</head>
<body>
<h1>Registration</h1>
<form id="signup-form">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <label for="repeat_password">Repeat password:</label><br>
    <input type="password" id="repeat_password" name="repeat_password"><br>
    <label for="birth_date">Birth date:</label><br>
    <input type="date" id="birth_date" name="birth_date"><br>
    <input type="submit" value="Submit">
</form>

<script>
    src="assets/signup.js"
</script>

</body>
</html>