<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Input Form</title>
    <script src="https://code.jquery.com/jquery-3.7.1.js"></script>
   <script src="/assets/signup.js">
   </script>
</head>
<body>
<h1>Registration</h1>
<div class="login-form" style="padding: 10px; border: 1px solid black;">
    <label for="username">Username:</label><br>
    <input type="text" id="username" name="username"><br>
    <label for="email">Email:</label><br>
    <input type="email" id="email" name="email"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password" name="password"><br>
    <label for="repeat_password">Repeat password:</label><br>
    <input type="password" id="repeat_password" name="repeat_password"><br>
    <label for="birth_date">Birth date:</label><br>
    <input type="date" id="birth_date" name="birth_date"><br>
    <button style="padding: 10px;" id="submit-button">Register</button>
</div>

</body>
</html>
